         

		<!-- content 
			================================================== -->
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>  

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">


	

						<div class="col-md-6" align="center">
							<h3>Toyota FAME Valladolid</h3> <br>
<span class="single-project-content">
                    <img alt="Toyota Fame Valladolid" src="images/fachadavalladolid.jpg"></span> 
                    <li><span><i class="fa fa-home"></i>Av. Acueducto #3603</span> <span>Col. Pascual Ortiz de Ayala </span><span> Morelia, Michoacán</span><span> C.P. 58205</span></li>                      
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			<div>

				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d645.142512713521!2d-101.15049341882666!3d19.694948873939833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842d120289cb0679%3A0xf2288c8d94cfa1f8!2sToyota+Valladolid+FAME!5e0!3m2!1ses-419!2smx!4v1553629725080" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				
			</div>
            </div>

					</div>
				</div>
			</div>

		</div><br>


		<!-- End content -->

